/* Стили для DropdownButton */
.dropdown-button {
    height: 100%;
    position: relative;
    display: inline-block;
}

.dropbtn {
	background: rgba(0,0,0,0);
    height: 100%;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    background: rgb(255, 255, 255);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content {
    left: 0;
    right: auto;
}

.dropdown-button:hover .dropdown-content {
    display: block;
    transform: translateX(0%);
}

.dropdown-button:hover {
    overflow: visible;
}


